---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

<!--<div class="row">-->

<section>
	<div class="section-title">
		<h2><span>{{ page.title }}</span></h2>
	</div>

	<div class="blog-card">
		<!-- Sidebar -->
		<div class="col-sm-4">
		{% include sidebar.html %}
		</div>

		<div class="col-sm-8">
			<!-- Post Content -->
			<div class="article-post">
				{{content}}
			<div class="clearfix">
		</div>
	</div>
</section>
			<!--</div>-->

<!-- End Article
================================================== -->
